<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="t3js-modal modal fade modal-style-default modal-size-medium"
     id="updateConfigurationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="t3js-modal-content modal-content">
            <div class="modal-header">
                <h4 class="t3js-modal-title modal-title">
                    <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration"/>
                </h4>
            </div>
            <div class="t3js-modal-body modal-body">
                <f:form action="updateConfiguration">
                    <p>
                        <strong>
                            <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration.selectfields"/>
                        </strong>
                    </p>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                <f:translate key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.itemListSelect.table.identifier"/>
                            </th>
                            <th>
                                <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration.label"/>
                            </th>
                            <th>
                                <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration.enable"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{formFields}" as="field">
                            <tr>
                                <th>{field.identifier}[{field.type}]</th>
                                <td>{field.label}</td>
                                <td>
                                    <f:variable name="isFieldEnabled" value="{configuration.{field.identifier}.enabled}"/>
                                    <f:form.checkbox
                                        checked="{f:if(condition: '{isFieldEnabled}', then:'checked')}"
                                        name="fields[{field.identifier}][enabled]" value="1"/>
                                    <f:form.hidden value="{field.identifier}" name="fields[{field.identifier}][identifier]"/>
                                    <f:form.hidden value="{field.label}" name="fields[{field.identifier}][label]"/>
                                    <f:form.hidden value="{field.type}" name="fields[{field.identifier}][type]"/>
                                </td>
                            </tr>
                        </f:for>
                        </tbody>
                    </table>

                    <hr>
                    <f:form.hidden value="updateConfiguration" name="updateConfiguration"/>
                    <f:form.hidden value="{formIdentifier}" name="formIdentifier"/>
                    <f:form.hidden value="{formIdentifierPath}" name="formIdentifierPath"/>
                   <div class="row">
                       <div class="col-md-12 text-right text-end">
                           <f:form.button class="btn btn-default btn-sm t3js-modal-close">
                               <core:icon identifier="actions-document-save-close"/>
                               <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration.save"/>
                           </f:form.button>
                           <button type="submit" class="btn btn-default btn-sm t3js-modal-close" data-dismiss="modal" aria-label="Close">
                               <core:icon identifier="actions-close"/>
                               <f:translate key="LLL:EXT:othman_saveformtodb/Resources/Private/Language/locallang_be.xlf:savetodb.configuration.close"/>
                           </button>
                       </div>
                   </div>
                </f:form>
                <br>
                <f:form id="x2" action="resetConfiguration">
                    <div class="row">
                        <div class="col-md-12 text-right text-end">
                            <f:form.hidden value="resetConfiguration" name="updateConfiguration"/>
                            <f:form.hidden value="{formIdentifier}" name="formIdentifier"/>
                            <f:form.hidden value="{formIdentifierPath}" name="formIdentifierPath"/>

                            <f:form.button class="btn btn-default btn-sm t3js-modal-close">
                                <core:icon identifier="actions-document-save-close"/>
                                Reset to default
                            </f:form.button>
                        </div>
                    </div>
                </f:form>
            </div>
        </div>
    </div>
</div>

</html>
